.App {
  text-align: center;
}

.pdf-viewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: 60%;
}

.pdf-viewer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.page-container {
  border: 1px solid #000;
  margin-bottom: 10px;
}
